<h1> Bookmarks </h1>
  <ul>
    <h3>
      <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%=bookmark.url%>">
        <%= bookmark.title %>
        </a>
      </li>
      <% end %>
    </h3>
  </ul>
