<h1> Bookmarks </h1>
  <ul>
    <h3>
      <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%= bookmark.id %>">
        <a href="<%=bookmark.url%>" target="_blank">
        <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE"/>
          <input type="submit" name="" value="Delete"/>
        </form>
      </li>
      <% end %>
    </h3>
  </ul>
